.showPetList {
  position: relative;
  margin: 0 auto;
  text-align: left;
  height: auto;
  text-align: center;
}

.button-container-div {
  /* margin-left: 35%;
  margin-right: 35%; */
  text-align: center;
}
